<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
 <head>
  <meta content="text/html; charset=utf-8">
  <link href="style.css" rel="stylesheet">
  <title>Какое-то название</title>
 </head>
 <body>

  <div class="login">
   <form class="login-form" action="#" th:action="@{/login}" th:object="${user}" method="post">
    <p><b>Войти</b></p>
    <input type="text" placeholder="LOGIN" name="login" th:field="*{username}">
    <input type="password" placeholder="PASSWORD" name="password" th:field="*{password}">
    <input type="submit" value="Войти">  
   </form>
  </div> 

 </body>
</html>
